.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 60px;
  }
  
  .baloon {
    position: absolute;
    left: 230px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 240px;
    top: 125px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 510px;
    top: 220px;
  }